body{
    font-family: sans-serif;

}
.container{
width: 380px;
height: 435px;
border: 1px solid;
margin:auto;

}
.col-25{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bolder;
}
input[type=text]{
    margin-left:18px;
    padding: 12px 14px;
    width:80%;
}
input[type=password]{
    margin-left:18px;
    padding: 12px 14px;
    width:80%;  
}
input[type=checkbox]{
    margin:10px;
    font-weight: bolder;
}
